<h1>Editing web_passenger</h1>

<% form_for(@web_passenger) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :web_bus_id %><br />
    <%= f.text_field :web_bus_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @web_passenger %> |
<%= link_to 'Back', web_passengers_path %>